@model e_commerce.ViewModels.RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Message != null)
            {
                <div class="form-group" style="color:green">@ViewBag.Message</div>    
            }
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarPassword" class="control-label"></label>
                <input asp-for="ConfirmarPassword" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrarse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Ya tienes cuenta? <a asp-action="Login">Loguearse</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
